.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #fff;
    z-index: 1000;
    display:flex;
    justify-content: space-around;
    box-shadow: 0 1px 3px -2px black;
    background-color: black;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap:10px;
}

.nav-menu{
    text-decoration: none !important;
    display:flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.nav-menu li {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border:none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: red;
}

.nav-login-cart{
    display:flex;
    align-items: center;
    height: auto;
    gap: 45px;
   
    
}

.nav-login-cart button {
    width: 100px;
    height: 40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #fff; /* Change text color to white */
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
   
}

.nav-login-cart button:active {
    color: #fff;
    background: #f3f3f3;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
.nav-menu a {
    color: white; 
    text-decoration:none;
    font-size:large;
  }
  .nav-login-cart a {
    color: white; 
    text-decoration: none;
    font-size: larger;
    
  }